* {
   margin:0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}
:root {
   --main-color: #0059ff;
   --text-color: #fff;
   --secondly-color: #C0C0C0;
}

header {
   padding: 20px 7%;
   .TestContainer {
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      border-bottom:3px solid var(--main-color);
      .logoInfo {
         display: flex;
         .logoIco {
            width: 60px;
            height: fit-content;
            
         }
         .nameTitle {
            margin: 0 30px;
            opacity: 90%;
         }
      }
      nav{
         display: flex;
         justify-content: space-evenly;
         a:first-child {
            opacity: 1;
            font-weight: 900;
         }
         a {
            text-decoration: none;
            font-size: 18px;
            margin-right: 90px;
            opacity: 90%;
            transition: all 0.6s;
         }
         i {
            display: none;
            font-size: 32px;
            cursor: pointer;
         }
         a:hover, a:active {
            transform: scale(1.05) translateY(-3px);
         }
      }
   
   }
}


@media  (max-width: 400px) {
   header {
      padding: 0 2%;
     .TestContainer {
      justify-content: space-between;
      .nameTitle {
         margin: 0 0 ;
         
      }
      nav {
         a {
            display: none;
         }
         i {
            display: block;
         }
      }
     }
   }
}